/* ----- Universal ----- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* color: white; */
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
 }

@font-face {
    font-family: "Roboto";
    src: 
        url(fonts/Roboto-Regular.woff2) format("woff2"),
        url(fonts/Roboto-Regular.woff) format("woff");
    font-display: normal;
}


/* ----- Body Div Outer Grid ----- */
.bodyGrid {
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
    display: grid;
    grid-template: 1fr / 1fr 5fr;
}

.sidebar {
    background-color: gray;
}

.main {
    /* background-color: darkgray; */
}

/* ----- Main section SubGrid Lvl 1 ----- */
.main {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

.header {
    /* background-color: darkred; */
}

.content {
    /* background-color: green; */
}

/* ----- Sidebar Section Subgrid ----- */
.sidebar {
    background-color: teal;
    display: grid;
    grid-template: 100px repeat(5, 50px) 100px repeat(3, 50px) 1fr / 1fr;
    color: white;
}

.sidebarItem {
    /* outline: 1px solid white; */
    margin-left: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

    .sidebarItem > img {
        filter: brightness(0) saturate(100%) invert(100%);
        width: 25px;
        height: 25px;
        margin-left: 1rem;
    }

    .sidebarItem > p {
        font-size: 1rem;
        font-weight: bold;
    }


.dashboardLine {
    margin-left: 1rem;
    margin-top: 1rem;
    align-items: start;
    gap: 1rem;
}
    .dashboardLine > img {
        width: 50px;
        height: 50px;
    }

    .dashboardLine > p {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

.communitiesLine {
    align-items: start;
    margin-top: 1rem;
}

/* ----- Header Section SubGrid ----- */
.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.headerItem {
    outline: 1px solid white;
}

    .headerItem img {
        width: 25px;
        height: 25px;
    }

.searchGroup {
    /* margin-top: 1rem; */
    margin-left: 3rem;
    /* display: grid; */
    /* grid-template: 1fr 1fr / 1fr 9fr; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

    #headerSearch {
        margin-right: 3rem;
        flex: 1 1;
        border-radius: 1rem;
        border: none;
        box-shadow: none;
        background-color: lightgray;
        font-size: 1rem;
        padding: 5px 20px;
    }

.profileGroup {
    /* margin-top: 1rem; */
    margin-right: 3rem;
    /* display: grid; */
    /* grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    padding-right: 2rem;
}

    .profileGroup > .icon {
        /* grid-column: 2; */
        /* grid-row: 1; */
    }

    .profileGroup > .profile {
        /* grid-column: 3; */
        /* grid-row: 1; */
        height: 75px;
        width: 75px;
    }

    .profileGroup > p {
        /* grid-column: 4 / span 2; */
        /* grid-row: 1; */
        font-weight: bold;
    }

.greetingGroup {
    margin-left: 3rem;
    /* display: grid; */
    /* grid-template: 1fr 1fr / 1fr 5fr; */
    display: flex;
    align-items: center;
}

    .greetingGroup > img {
        /* grid-column: 1; */
        /* grid-row: 1 / 3; */
        width: auto;
        height: 79px;
    }

    .greetingBox {
        font-weight: bold;
    }

    .greetingIntro {
        font-size: 0.8rem;
    }
    .greetingName {
        font-size: 1.5rem;
    }

.actionGroup {
    margin-right: 3rem;
    /* display: grid; */
    /* grid-template: 1fr / 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}

    .actionGroup > button {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 2rem;
        background-color: teal;
        border: none;
        color: white;
    }

/* ----- Main Content Section SubGrid ----- */
.content {
    background-color: lightgray;
    display: grid;
    grid-template: 1fr / 2.5fr 1fr;
    gap: 1rem 1.5rem;
}

.contentProjects {
    display: grid;
    grid-template: 50px 1fr / 1fr;
}

    .contentProjects > .projectsHeader {
        grid-column: 1;
        grid-row: 1 / 2;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: end;
    }

    .contentProjects > .projectCardBox {
        grid-column: 1;
        grid-row: 2 / 3;
        margin-left: 1rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 1.5rem 1.5rem;
    }

.projectCard {
    background-color: white;
    border-radius: 1rem;
    border-left: 10px solid darkorange;
    /* border-right: 2px solid darkorange; */
    padding: 1rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .projectCard > p:first-child {
        font-weight: bold;
    }
    .projectCard > p + p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        color: rgb(0 0 0 / 50%);
        flex: 1;
    }

    .projectCard > .cardIcons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
    }


    .cardIcons > img {
        width: 25px;
        height: 25px;
    }

.contentOther {
    /* display: grid; */
    /* grid-template: 1fr 4fr 1fr 4fr / 1fr; */
}

.announcementBox {
    outline: 1px solid white;
}

.trendingBox {
    outline: 1px solid white;
}
