/* ----- Universal ----- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

/* ----- Body Div Outer Grid ----- */
.bodyGrid {
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

.sidebar {
    background-color: gray;
}

.main {
    background-color: darkgray;
}

/* ----- Main section SubGrid Lvl 1 ----- */
.main {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

.header {
    /* background-color: darkred; */
}

.content {
    background-color: green;
}

/* ----- Sidebar Section Subgrid ----- */
.sidebar {
    background-color: teal;
    display: grid;
    grid-template: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 5fr / 1fr;
}

.sidebarItem {
    outline: 1px solid white;
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    margin-left: 2rem;
}

.dashboardLine {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

/* ----- Header Section SubGrid ----- */
.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.headerItem {
    outline: 1px solid white;
}

.searchGroup {
    margin-top: 1rem;
    margin-left: 3rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 9fr;
}

.profileGroup {
    margin-top: 1rem;
    margin-right: 3rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
}

    .profileGroup > .icon {
        grid-column: 2;
        grid-row: 1;
    }

    .profileGroup > img + img {
        grid-column: 3;
        grid-row: 1;
    }

    .profileGroup > p {
        grid-column: 4 / span 2;
        grid-row: 1;
    }

.greetingGroup {
    margin-left: 3rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
}

    .greetingGroup > img {
        grid-column: 1;
        grid-row: 1 / 3;
    }

.actionGroup {
    margin-right: 3rem;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

/* ----- Main Content Section SubGrid ----- */
.content {
    background-color: darkblue;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

.contentProjects {
    display: grid;
    grid-template: 1fr 3fr 3fr 3fr  / 1fr 1fr;
}

    .contentProjects > h3 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

.projectCard {
    outline: 1px solid white;
}

.contentOther {
    display: grid;
    grid-template: 1fr 4fr 1fr 4fr / 1fr;
}

.announcementBox {
    outline: 1px solid white;
}

.trendingBox {
    outline: 1px solid white;
}
